body {
	font-family: Arial, sans-serif;
}

.header {
	background-color: #a2dae7;
	text-align: center;
	padding: 25px;
}

.header > h1 {
	margin: 0;
}

.nav,
.footer {
	background-color: #24504e;
	color: white;
}

.nav {
	align-items: center;
}

.nav-item {
	border-right: 1px solid black;
	padding: 20px;
}

.col {
	padding-left: 15px;
	padding-top: 15px;
}

.footer {
	text-align: center;
	padding: 25px;
}

.container {
	display: grid;
}

.nav {
	display: flex;
}

.col-1 {
	background-color: #aaaaaa;
	grid-column: 1;
}

.col-2 {
	background-color: #bbbbbb;
	grid-row: 2;
	grid-column: 1 / span 2;
}

.col-3 {
	background-color: #cccccc;
	grid-column: 2;
}

.content {
	display: grid;
	height: 600px;
}

.nav-link {
	color: #ffffff;
	text-decoration: none;
}

@media only screen and (min-width: 600px) {
	.content {
		display: flex;
	}

	.col-1,
	.col-3 {
		width: 25%;
	}

	.col-2 {
		width: 50%;
	}
}
